<!DOCTYPE html>
<html>

<head>
  <title>TempExplore</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" id="latt" href="/">Drafting Wide Receivers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Research Charts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Visual1">Combine Correlation</a>
            <a class="dropdown-item" href="/Visual2">College Stats</a>
            <a class="dropdown-item" href="/Visual3">Prominent Conferences and Colleges</a>
            <a class="dropdown-item" href="/Visual4">Draft Position VS Production</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/modelcreate">Create a Model</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="Data.html">Data</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <div class="container-fluid bg-light" style="padding-top: 50px">

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class=container style="background:white">
          <div class=row>
            <h1>Significance of College Receiving Stats</h1>
            <p>
              This is looking at receiving yards and touchdowns impact on NFL success. I was also interested in
              comparing if your college career to your
              final year played in college. It's interesting that they don't appear to be correlated, but their
              correlation is significant as evidenced
              by small p-values that can be seen by hovering over the trend lines. I need to look at how correlated the
              2 are and decide if both or only
              one should be in the model.
            </p>
          </div>
          <hr>
          <div class=row>
            <div class='tableauPlaceholder' id='viz1597806693629' style='position: relative'><noscript><a href='#'><img
                    alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeStatsandWRSuccess&#47;CareerVsSeniorYr&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='CollegeStatsandWRSuccess&#47;CareerVsSeniorYr' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                  value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeStatsandWRSuccess&#47;CareerVsSeniorYr&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en' />
                <param name='filter' value='publish=yes' /></object></div>
            <script
              type='text/javascript'>                    var divElement = document.getElementById('viz1597806693629'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1100px'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1100px'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1277px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>
        </div>
      </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>